<div class="starter-template">
    <h1>Translation costs analysis</h1>
    <p class="lead">This app calculates the translation costs based on an analysis from <a href="http://www.memoq.com">MemoQ</a>.</p>
	
	<p>You can select different discount models to see what their effect is on the total price. All changes are saved to local storage (on your computer) so you can exit your browser and come back another time to review or update the analysis. No data is saved on any server! It's a great app to get an idea of the amount of work involved in a translation (hours) and the costs you should be charging your client. On first run you'll see a typical analysis with quite a few matches.</p>

	<p>If you like the app or if you've other feedback, feel free to <a href="https://twitter.com/vnglst">drop me a line on Twitter!</a></p>

	<p>This Single Page App (SPA) uses AngularJS and Twitter Bootstrap. The source code is <a href="https://github.com/vnglst/costAnalysis">available on GitHub</a>.</p>
</div>
</div>



