<div class="starter-template">

    <h1>Translation costs analysis</h1>

    <p class="lead">This app calculates the translation costs based on an analysis from <a href="http://www.memoq.com">MemoQ</a>.</p>
	
	<p>You can select different discount models to see what the effect is on the total price. All changes are saved to local storage (on your computer) so you can exit your browser and come back later to review or update the analysis. No data is saved on any server. It's a great app to get an idea of the amount of work involved in a translation (hours) and the costs you should be charging your client.</p>

	<p>On first run you'll see an analysis with a lot of repetitions and some matches. This was based on one of the comics by <a href="http://mox.ingenierotraductor.com/">Mox</a>.</p>

	<br />
	<img src="app/img/mox-volume-and-repetition-discount.jpg" class="img-responsive center-block" alt="Volume and repetition discount from Mox's blog">
	<br />

	<p>If you like the app or if you've other feedback, feel free to <a href="https://twitter.com/vnglst">drop me a line on Twitter!</a></p>

	<p>This Single Page App (SPA) uses AngularJS and Twitter Bootstrap. The source code is <a href="https://github.com/vnglst/costAnalysis">available on GitHub</a>.</p>

</div>




