<div class="col-sm-8 col-xs-8">
    <p class="lead"><b>Select a discount model:</b></p>

    <p><a class="btn btn-sm btn-success" ng-click="noDiscounts()" href="" role="button">No discounts</a> All matches 100%</p>

    <p><a class="btn btn-sm btn-primary" href="#" role="button">Only reps</a> 66% discount on repetitions</p>

    <p><a class="btn btn-sm btn-info" href="#" role="button">Reps + 100%</a> 66% discount on repetitions and 100% matches</p>

    <p><a class="btn btn-sm btn-warning active" href="#" role="button">33/66/100</a> A standard discount scheme</p>

    <p><a class="btn btn-sm btn-danger" href="#" role="button">20/100/100</a> A less advantageous, but often used discount scheme</p>

    <p><a class="btn btn-sm btn-default" href="#" role="button">Custom 1</a> Create your own discount scheme!</p>

    <p><a class="btn btn-sm btn-default" href="#" role="button">Custom 2</a> Create your own discount scheme!</p>

    <p><a class="btn btn-sm btn-default" href="#" role="button">Custom 3</a> Create your own discount scheme!</p>
</div>